/* Main or miscellaneous features for HTML content that has been styled */

body {
     margin:0;
     background:#c0cbda;
}


h1,h2,h3,h4 {
    font-family: "Bahnschrift", sans-serif;
}



h1 {
    display:block;
    width: 100%;
    text-align:center;
    color:rgb(255,255,255);
    font-weight: bold;
    background: rgb(73,142,169);
    margin:0;
    padding:10px 0 10px 0;
}



h2 {
text-align:center;
}



p {
    font-family: 'Helvetica Neue', 'Lucida Grande', Tahoma, Verdana, Arial, sans-serif;
}



/* Whenever cursor hovers over in game application cell (within the HTML table) it changes colour */

td:hover{

background:rgb(48, 101, 122);


}



/* Border radius option applied to all buttons to enable curved edges */

button

{
    border-radius: 50px;

}




/* Styling used to locate copyright text on index page */

.copyright-text {

position: relative;
bottom: -170px;
left: 0;
width: 100%;


}




/* Image styling used on web pages */


/* lights key page image */


.light-image {


  display: block;
  margin-left:auto;
  margin-right:auto;
  width:35%;
}






/* Index page image */

.tictactoe-image

{

  display: block;
  margin-left:auto;
  margin-right:auto;
  width:27%;


}



/* About page image */

.infoicon-image {

display: block;
margin-left:auto;
margin-right:auto;
width:20%;


}







/* DIV class used to style buttons on Index page */

 .button-wrapper {
    text-align:center;
    font-size: 0;
}



 .button-wrapper button {
    background: rgb(73, 142, 169);
    color: rgb(245,245,245);
    border:none;
    padding: 20px;
    cursor: pointer;
    transition: background 0.3s;
    display: inline-block;
    font-size: 16px;
    margin:20px;
    width:200px;


}
 .button-wrapper button:hover{
    background:rgb(48, 101, 122);
}


 



/* Index page middle and bottom button(s) */


 .row.middle button {
    height: 130px;
}


 
 .row.bottom {

    text-align:center;
    font-size: 0;
    width: 100%;
    position: relative;
    bottom: -550px;
    left: 0;

}





/* Score buttons on Game application page */

.score-pane {
    text-align:center;
    font-size: 0;
}



/* Had given each player pane button an ID instead of a class name so it could be functionalized in
javascript.*/

 #player2 {
    background: rgb(156, 9, 9, 0.72);
    color: rgb(245,245,245);
    border:none;
    padding: 20px;
    cursor: pointer;
    transition: background 0.3s;
    display: inline-block;
    font-size: 16px;
    margin:20px 200px 20px 180px;
    width:200px;
    font-family:;
}



#player1 {
    background: rgb(12, 130, 65, 0.72);
    color: rgb(245,245,245);
    border:none;
    padding: 20px;
    cursor: pointer;
    transition: background 0.3s;
    display: inline-block;
    font-size: 16px;
    margin:20px 200px 20px 180px;
    width:200px;
    font-family:; 


}
 



/*ID linked to H2 heading in game for the size to turn to 50px when game is functioning with javascript
to declare the winner. */



#winnerlose-header
{

font-size: 50px; 

}




/* Styling used for HTML table (the foundation for the nine cells in the game) */



 table {
    display: inline-block;
}



 .game-wrapper{
    text-align: center;
    display: block;
    width: 100%;
}



 td{
    padding: 20px;
    width:70px;
    height: 70px;
    background: rgb(73,142,169);
    font-size: 40px;
    color: white;
}





/* Main menu button and bottom buttons on game application page  */


 .game.row-bottom {
    text-align:center;
    font-size: 0;
    width: 100%;
    position: relative;
    bottom: 0px;
    left: 0;

}


 .game.row-bottom button {
    background: rgb(73, 142, 169);
    color: rgb(245,245,245);
    border:none;
    padding: 20px;
    cursor: pointer;
    transition: background 0.3s;
    display: inline-block;
    font-size: 16px;
    margin:20px;
    width:200px;
}

 



.game.row-bottom button:hover

{
background:rgb(48, 101, 122);

}



/* Main menu button on lights page */



 .menu-buttonlights {

    text-align:center;
    font-size: 0;
    width: 100%;
    position: absolute;

}
 





 .menu-buttonlights button {

    background: rgb(73, 142, 169);
    color: rgb(245,245,245);
    border:none;
    padding: 20px;
    cursor: pointer;
    transition: background 0.3s;
    display: inline-block;
    font-size: 16px;
    margin:20px;
    width:200px;


 }



.menu-buttonlights button:hover

{
background:rgb(48, 101, 122);

}





/* Main menu button on about page */


.menu-buttonabout {
    text-align:center;
    font-size: 0;
    width: 100%;
    position: absolute;
    
}
 





 .menu-buttonabout button {

    background: rgb(73, 142, 169);
    color: rgb(245,245,245);
    border:none;
    padding: 20px;
    cursor: pointer;
    transition: background 0.3s;
    display: inline-block;
    font-size: 16px;
    margin:20px;
    width:200px;


 }



.menu-buttonabout button:hover

{
background:rgb(48, 101, 122);

}

